.header{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #211951;
}

.add-task-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3.2rem;
}
.add-task-input input{
    width: 90%;
    border: none;
    padding: 10px;
    font-size: 1.6rem;
    outline-color: #15F5BA;
}
.add-task-btn{
    width: 10%;
    font-size: 1.6rem;
    border: none;
    background-color: #15F5BA;
    color: #211951;
}

.add-task-btn:hover{
    background-color: #12D9A5;
    cursor: pointer;
}
